html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	background: #151515;
	color: #fff;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.list {
	margin-top: 150px;
}
